<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{/general/head.html}"></div>
<title>Confirmation de dépassement de budget</title>
<!-- Custom CSS -->
<link th:href="@{/css/style.min.css}" rel="stylesheet">
</head>

<body class="skin-blue fixed-layout">
<!-- Preloader -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">CRM admin</p>
    </div>
</div>

<!-- Main wrapper -->
<div id="main-wrapper">
    <!-- Header -->
    <div th:insert="~{/general/header.html}"></div>
   
    <!-- Left Sidebar -->
    <div th:insert="~{/general/left-sidebar.html}"></div>
   
    <!-- Page wrapper -->
    <div class="page-wrapper">
        <!-- Container fluid -->
        <div class="container-fluid">
            <!-- Bread crumb and right sidebar toggle -->
            <div th:insert="~{/general/page-titles.html}"></div>
           
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-warning">
                                <i class="fa fa-exclamation-triangle"></i> Attention : Dépassement de budget
                            </h3>
                           
                            <div class="alert alert-warning">
                                <h4 class="alert-heading">Dépassement de budget détecté!</h4>
                                <p th:text="${alertMessage}"></p>
                            </div>
                           
                            <div class="text-center mt-4">
                                <!-- Formulaire pour continuer -->
                                <form th:action="${confirmationUrl}" method="post" class="d-inline">
                                    <!-- Champs cachés pour transmettre toutes les données du formulaire original -->
                                    <div th:each="entry : ${formData}">
                                        <input type="hidden" th:name="${entry.key}" th:value="${entry.value}" />
                                    </div>
                                    <input type="hidden" name="confirmBudgetOverrun" value="true" />
                                    <button type="submit" class="btn btn-warning btn-lg mr-2">
                                        <i class="fa fa-check"></i> Continuer malgré le dépassement
                                    </button>
                                </form>
                               
                                <!-- Bouton pour annuler et revenir au formulaire -->
                                <a th:href="${cancelUrl}" class="btn btn-secondary btn-lg">
                                    <i class="fa fa-times"></i> Annuler et revenir au formulaire
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page Content -->
           
            <!-- Right sidebar -->
            <div th:insert="~{/general/right-sidebar.html}"></div>
        </div>
        <!-- End Container fluid -->
    </div>
    <!-- End Page wrapper -->
   
    <!-- Footer -->
    <div th:insert="~{/general/footer.html}"></div>
</div>
<!-- End Wrapper -->

<!-- All Jquery -->
<script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/library/waves.js}" type="text/javascript"></script>
<script th:src="@{/js/library/sidebarmenu.js}" type="text/javascript"></script>
<script th:src="@{/js/library/custom.min.js}" type="text/javascript"></script>
</body>
</html>
